{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% load static %}


{% block content %}


<section class="about-section center-row">

    <div class="about-image-container center-row">
        <img src="{% static './img/about.JPG' %}" alt="missing-img">
    </div>



    <div class="about-description-container center-column">

        <h1>My Role as a Developer</h1>
        <h2 class="about-name">Patrick Ryan</h2>
            <p>Hello! I'm Patrick Ryan, a passionate full-stack web developer with a keen eye for design and a love for problem-solving. I specialize in creating dynamic, user-friendly websites that not only look great but also provide seamless experiences for users.

            My journey into web development began with a fascination for how things work behind the scenes. I enjoy diving deep into both front-end and back-end technologies, continuously expanding my skill set to stay on the cutting edge of industry trends. Whether it's crafting responsive layouts with HTML and CSS or building robust server-side applications with Python and Django, I thrive on the challenges that come with developing comprehensive web solutions.
            <br /><br />
            I believe in the power of collaboration and communication, and I'm always eager to learn from others and share knowledge. When I'm not coding, you can find me exploring new technologies, blogging about my experiences, or enjoying a good book.
            <br /><br />
            Let's connect and create something amazing together!</p>

        <div class="skills container center-column">
            <h2>Skills</h2>

            <div class="skills-list center-row">
                <label class="text-label">HTML</label>
                <label class="text-label">CSS</label>
                <label class="text-label">JavaScript</label>
                <label class="text-label">React</label>
                <label class="text-label">Flask</label>
                <label class="text-label">Python</label>
                <label class="text-label">Django</label>
                <label class="text-label">RESTful API</label>
                <label class="text-label">SQL</label>
                <label class="text-label">Bootstrap</label>
                <label class="text-label">JQuery</label>
                <label class="text-label">Heroku</label>
                <label class="text-label">Jinja2</label>
                <label class="text-label">Bootstrap</label>
                <label class="text-label">Mongo DB</label>
            </div>

        </div>

    </div>

</section>



{% endblock content %}